__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
env/
.venv/
ENV/
env.bak/
*.egg-info/
.eggs/
.ipynb_checkpoints
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
instance/
*.db
*.sqlite3
*.log
*.so
htmlcov/
.coverage
.tox/
.nox/
.env
.env.*
node_modules/
dist/
build/
*.ipynb 
